<div style="padding: 0 16px;margin: 30px 30% 32px;width: 36vw;">
    <div>
      <form [formGroup]="chatForm" style="padding: 20px;" (ngSubmit)="onSubmit()">
        <div>
          <label>Select a user to interact with</label>
          <select id="user" name="user" formControlName="user" style="width:32vw;line-height:40px; border-radius: 4px; font-weight: 700;border-color: #B4BCAF;" [(ngModel)]="selectedUser" required>
            <option value="" disabled selected>Select User to send a message</option>
            <option *ngFor="let user of users" [value]="user">{{user}}</option>
          </select>
        </div>
        <br>
        <div style="width:32vw;height:100px;line-height:25px; border-radius: 4px; font-weight: 700;border: 2px solid #B4BCAF;">
          <p *ngFor="let message of messages" [value]="message">{{message}}</p>
        </div>
        <br>
        <div>
          <input type="text" id="chatmessage" name="chatmessage" formControlName="chatmessage" placeholder="Enter message" style="width:32vw;line-height:25px; border-radius: 4px; font-weight: 700;border-color: #B4BCAF;"/>
        </div>
        <br>
        <form [formGroup]="uploadForm" (ngSubmit)="upload()">
          <div>
            <label class="btn btn-default p-0">
              <input type="file" (change)="selectFile($event)" id="fileupload" formControlName="fileupload" name="fileupload" style="width:32vw;line-height:25px; border-radius: 4px; font-weight: 700;border-color: #B4BCAF;"/>
              <div *ngIf="!isUploadValid && selectedFiles" style="color: red">File does not match with the recipient</div>
            </label>
          </div>
          <div>
              <button class="btn btn-success btn-sm" [disabled]="!selectedFiles || !uploadForm.valid" style="background-color:#1976D2;color:aliceblue;border-radius:4px;line-height:25px;text-align:center;cursor:pointer;">Upload</button>
          </div>
        </form>
        <button type="submit" [disabled]="!chatForm.valid && !uploadForm" style="background-color:#1976D2;color:aliceblue;border-radius:4px;line-height:25px;text-align:center;cursor:pointer;margin: 10px 0px;">Send</button>
      </form>
    </div>
  </div>
